@import "../variables";

.categories {
  width: 100%;
  display: flex;
  max-width: 55rem;

  ul {
    padding: 5px 0;
    overflow-x: auto;
    width: 100%;
    display: flex;

    /* ❗ убираем растягивание */
    justify-content: flex-start;

    /* ❗ делаем нормальные промежутки */
    gap: 10px;

    li {
      display: block;
      background-color: #f9f9f9;

      /* ❗ уменьшаем ширину кнопок */
      padding: 10px 20px;

      border-radius: 30px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}